<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="/javascripts/style.js"></script>
    <title>Reset Password</title>
</head>

<body class="bg-gray-900 text-white font-sans flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md p-8 bg-black rounded-lg shadow-xl">
        <h1 class="text-center text-4xl font-semibold mb-6">This Room Already Exist</h1>
        
        <a class="text-center text-4xl font-semibold mb-6" href="/"> Back To HomePage </a>
        
</body>

</html>